<html>
  <head>
      <title>Home Page</title>
  </head>
  <body>
      <center>
        <h1>Bienvenue sur notre Application</h1>
        <h2>ESPRIT Club</h2>
        <img src="{{ asset('images/meme.jpg') }}"alt="Erreur"/>
      </center>
  </body>
</html>